<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 设置日志类，提供支持控台打印sql语句 -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!--<typeAlias type="com.hsgene.entity.User" alias="User" />-->
        <!-- resultType和paramterType就可以不用写完全限定名 -->
        <package name="com.hsgene.entity"/>
    </typeAliases>

    <!-- 剩余的配置都交给spring管理 -->
</configuration>